services:
  msgo-rbac:
    container_name: ms-rbac-service
    build:
      context: .
      dockerfile: docker/Dockerfile
    environment:
      HTTP_ADDR: ":8080"
      CACHE_TTL_SECONDS: "60"
      NATS_URL: "nats://nats:4222"
    networks:
      - default
      - ms-net

networks:
  ms-net:
    external: true
